# Local certificates
certs/
*.crt
*.key

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI local configs
.env
.env.*
*.log

# OS/editor
.DS_Store
Thumbs.db

# AI Stuff

AGENTS.MD
.opencode/*